extends templates/layout/layout.pug

block content
	h1!= LANG.hello
	- const localeRoot = LANG.locale === 'ru'? '/':`/${LANG.locale}/`;
	ul
		li: a(href=`${localeRoot}product-1.html`) Product 1
		li: a(href=`${localeRoot}product-2.html`) Product 2
		li: a(href=`${localeRoot}product-3.html`) Product 3